@import '../../../../styles/variables';

.result-tab {
  padding: 12px;
  font-family: $font-2;
  color: $secondary;
  width: 12.5%;
  cursor: pointer;

  &-selected {
    background: $secondary;
    color: #ffffff;
    transition: all .2s;
  }
}
