<div class="container">

  <div fxLayout fxLayoutAlign="space-between center"
       fxLayoutGap="100px"
       fxLayout.lt-md="column"
       fxLayoutGap.lt-md="30px">

    <div fxFlex="30">
      <img fxShow fxHide.lt-md src="assets/images/single-car.png">
      <h2>Where we get our vehicle information?</h2>  
    </div>

    <div fxFlex class="svc-home-about-text">
      <strong>
        Stolen Vehicle Check provides trusted information and insights for future vehicle owners and companies looking to assess the value and risk of a vehicle.
      </strong>

      <p class="mt-12">
        Stolen Vehicle Check combines information from serveral different sources and combines it with its own data to provide you with a trusted source of information and the most up-to-date facts about a vehicle. Our aim is to assistan help customers detect any potential issues with a vehicle by informing them with our most up-to-date data.
      </p>
    </div>

  </div>


</div>
