@import '../../../../styles/variables';

.svc-home-pro {
    margin-top: 100px;

    &-benefits {
        position: relative;

        >div:first-of-type {
            position: absolute;
            text-align: left !important;
            width: 100%;
            height: calc(100% - 80px);
        }

        &-price {
            font-size: 68px;
            font-weight: bold;
        }

        &-text {
            div:first-of-type {
                line-height: 36px;
                margin-bottom: 48px;
            }
        }
    }

    &-know {
        background: $background;
        padding-left: 100px;

        @media #{$medium-and-down} {
            padding: 20px;
        }

        &-more-btn {
            cursor: pointer;
            display: block;
            font-weight: bold;
            padding: 18px 80px;
            background: #fff;
            color: $secondary;
            box-shadow: 1px 1px 9px 14px #00000005;
        }
    }
}