<div class="container">

  <div fxLayout fxLayoutAlign="space-between center" fxLayoutGap="100px" fxLayout.lt-md="column" fxLayoutGap.lt-md="30px">

    <div fxFlex="30">
      <img fxShow fxHide.lt-md src="assets/images/single-car.png">
      <h2>Where we get our vehicle information?</h2>  
    </div>

    <div fxFlex class="svc-home-about-text">
      <strong>
        Stolen Vehicle Check provides trusted information and insights for future vehicle owners and companies looking to assess the value and risk of a vehicle.
      </strong>

      <p class="mt-12">
        Stolen Vehicle Check combines information from serveral different sources and combines it with its own data to provide you with a trusted source of information and the most up-to-date facts about a vehicle. Our aim is to assistan help customers detect any potential issues with a vehicle by informing them with our most up-to-date data.
      </p>
    </div>

  </div>

  <div fxLayout fxLayout.lt-md="column" fxLayoutAlign="start stretch" class="svc-home-pro text-center">

    <div class="svc-home-pro-benefits back-secondary cl-white p-40 font-secondary" fxFlex="48" fxFlex.lt-lg="false">

      <div fxLayout fxLayoutAlign="start center">
        <img src="assets/images/lock.png">
      </div>

      <div class="p-40 svc-home-pro-benefits-text">

        <div class="fs-32">
          <strong>Go pro </strong>to have more benefits
        </div>

        <div class="svc-home-pro-benefits-price">£9.99</div>

        <div class="font-primary mt-20"><strong>15 days </strong>and 3 lookups</div>

      </div>

    </div>

    <div class="svc-home-pro-know" fxFlex fxLayout fxLayoutAlign="start center" fxFlex.lt-lg="false" fxLayoutAlign.lt-lg="center center">
      
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.lt-md="center">
        
        <div *ngFor="let item of ['one', 'two', 'three']" fxShow fxHide.lt-md fxLayout fxLayoutAlign="start center" class="mb-12">
          <fa-icon class="cl-purple mr-16 fs-30" [icon]="['far', 'check-circle']"></fa-icon>
          <span class="fs-16">Lorem ipsum item {{item}}</span>
        </div>

        <div class="mt-24">
          <a class="svc-home-pro-know-more-btn">Know more about here</a>
        </div>

      </div>

    </div>

  </div>

</div>