<div class="container">
  <table class="striped-table">
    <tr class="table-row">
      <td>Audi TT</td>
      <td>RF456TG</td>
      <td>03.12.2019</td>
      <td class="text-right">detail</td>
    </tr>
    <tr class="table-row">
      <td>Audi TT</td>
      <td>RF456TG</td>
      <td>03.12.2019</td>
      <td class="text-right">detail</td>
    </tr>
    <tr class="table-row">
      <td>Audi TT</td>
      <td>RF456TG</td>
      <td>03.12.2019</td>
      <td class="text-right">detail</td>
    </tr>
  </table>
</div>
