<div class="container">
  <table class="striped-table">
    <tr class="table-row" *ngFor="let report of (allReports$ | async)">
      <td *ngIf="report.reportType === 'Basic'">{{report.data.basic.Make }}</td>
      <td *ngIf="report.reportType === 'Basic'">{{ report.data.basic.Model }}</td>
      <td *ngIf="report.reportType != 'Basic'">{{report.data.VehicleData.ClassificationDetails.Dvla.Make }}</td>
      <td *ngIf="report.reportType != 'Basic'">{{ report.data.VehicleData.ClassificationDetails.Dvla.Model }}</td>
      <td>{{ report.createdAt | date }}</td>
      <td>{{ report.reportType }}</td>
      <td class="text-right">
        <a *ngIf="report.reportType != 'Basic'"
           [routerLink]="['./', report._id]">Show detail</a>
        <a *ngIf="report.reportType === 'Basic'"
           [routerLink]="['./', report._id, 'basic']" [queryParams]="{reportType: 'basic'}">Show detail</a>
      </td>
    </tr>
  </table>
</div>
