<div class="svc-home-center-container container"
     id="why-check"
     fxLayoutAlign="space-between"
     fxLayout="row wrap"
     fxLayoutAlign.lt-lg="center">

  <h2 fxFlex="100">Why a vehicle history check is a good idea</h2>

  <div *ngFor="let item of centerContent"
       fxFlex.lt-lg="33"
       class="px-10"
       ngClass.lt-lg="mb-18">

    <div class="svc-home-center-icon"
         fxHide.lt-md>
<!--      <img [src]="item.icon">-->
      <span class="svc-icon" [ngClass]="item.iconClass"></span>
    </div>

    <h3>{{item.title}}</h3>

    <div class="svc-home-center-content">

      <div *ngIf="item.content.type == 'list'">
        <div *ngFor="let v of item.content.value"
             class="home-center-list-item">
          <fa-icon class="mr-10" [icon]="['fas', 'check']"></fa-icon>{{v}}
        </div>
      </div>

      <div *ngIf="item.content.type == 'text'">
        {{item.content.value}}
      </div>

    </div>
  </div>

</div>
