.svc-home-center-container {
            
    box-shadow: 1px 1px 48px 40px #00000005;
    padding: 64px;
    
    background: #fff;

    .svc-home-center-content {
        font-weight: 700;

        fa-icon {
            color: #27294f;
        }
    }
}