@import "../../../../styles/variables";

.car-num {
  background-color: $yellow;
  color: $secondary;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 43px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 168px;
}

.car-name {
  color: $secondary;
  font-size: 22px;
  margin-bottom: 40px;
}

.car-text {
  font-size: 17px;
  margin-bottom: 40px;
}
.car-text-2 {
  font-size: 15px;
}
