<div class="container">
  <!--<div class="image-block">
    <div fxFlex>
      <div fxFlex="61%">
        <img [src]="(report$ | async)?.img">
      </div>
      <div>
        <div class="car-num">{{(report$ | async)?.registration}}</div>
        <div class="car-name"><span>{{(report$ | async)?.data.Make}}</span><span>{{(report$ | async)?.data.Model}}</span></div>
        <div class="car-text">Color:<strong>{{(report$ | async)?.data.Colour}}</strong> Year:<strong>{{(report$ | async)?.data.DateFirstRegistered}}</strong></div>
        <div class="car-text-2">Check performed: {{(report$ | async)?.createdAt | date }}</div>
      </div>
    </div>
  </div>
  <h3>Report summary</h3>-->

  <table *ngIf="report$ | async as report"
         class="striped-table">
    <tr class="table-row">
      <td>Not Recorded Stolen</td>
      <td>
        <app-check-data-parser [condition]="!report.data['Stolen']"></app-check-data-parser>
      </td>
    </tr>
    <tr class="table-row">
      <td>Not Exported</td>
      <td>
        <app-check-data-parser [condition]="!report.data['Exported']"></app-check-data-parser>
      </td>
    </tr>
    <tr class="table-row">
      <td>No Plate Changes</td>
      <td>
        <app-check-data-parser [condition]="!report.data['PlateChangeCount']"></app-check-data-parser>
      </td>
    </tr>
    <tr class="table-row">
      <td>Outstanding finance</td>
      <td></td>
    </tr>
    <tr class="table-row">
      <td>Insurance Write-Off!</td>
      <td></td>
    </tr>
    <tr class="table-row">
      <td>Fraud Guard: Incomplete!</td>
      <td></td>
    </tr>
    <tr class="table-row">
      <td>MOT Expiry</td>
      <td></td>
    </tr>
    <tr class="table-row">
      <td>Past valuations</td>
      <td></td>
    </tr>
    <tr class="table-row">
      <td>No Owners Before Current</td>
      <td></td>
    </tr>
    <tr class="table-row">
      <td>Not Scrapped</td>
      <td>
        <app-check-data-parser [condition]="!report.data['Scrapped']"></app-check-data-parser>
      </td>
    </tr>
    <tr class="table-row">
      <td>Recalls not checked</td>
      <td>
      </td>
    </tr>
    <tr class="table-row">
      <td>Not Imported</td>
      <td>
        <app-check-data-parser [condition]="!report.data['Imported']"></app-check-data-parser>
      </td>
    </tr>
    <tr class="table-row">
      <td>Finance details</td>
      <td>
      </td>
    </tr>
    <tr class="table-row">
      <td>Insurance write-off details</td>
      <td>
      </td>
    </tr>
    <tr class="table-row">
      <td>Mileage discrepancy!</td>
      <td>
      </td>
    </tr>
    <tr class="table-row">
      <td>Mot history</td>
      <td>
      </td>
    </tr>
    <tr class="table-row">
      <td>Current valuation</td>
      <td>
      </td>
    </tr>
    <tr class="table-row">
      <td>Fuel costs</td>
      <td>
      </td>
    </tr>
  </table>
</div>

