@import '../../../../styles/variables';

nav {
    padding-left: 100px;
    height: 80px;

    div {
        height: 100%;
    }

    .svc-logo{
        height: 100%;
        
        span {
            font-size: 24px;
            font-family: $font-1;
            &:first-of-type {
                font-weight: 700;
            }
        }
    }

    .svc-login {
        color: #ffffff;
        background: $secondary;
        padding: 0 100px;
        height: 100%;
    }

    @media #{$medium-and-down} {
        padding-left: 15px;
        height: 60px;

        .svc-login {
            background: $background;
            color: $secondary;
            padding: 0 30px;
        }
    }
}