@import './variables';

html, body {
    margin: 0;
    padding: 0;
    color: $primary;
    background-color: $background;
    font-weight: 300;
    line-height: 28px;
    height: 100%;
}

html, body, input, button {
    font-family: $font-1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-2;
    color: $secondary;
}

p {
    margin: 0;
}

a { 
    text-decoration: none;
    color: unset;
    &:hover {
        color: unset;
    }
}

.content-wrapper {
    min-height: calc(100% - #{$header-height} - #{$footer-height});
}

.container {
    max-width: 1300px;
    margin: 0 auto;

    @media #{$large-and-down} {
        max-width: 1000px;
    }

    @media #{$medium-and-down} {
        padding: 0 15px;
    }
}

.cl-primary {
    color: $primary !important;
}

.back-primary {
    background-color: $primary !important;
}

.cl-secondary {
    color: $secondary !important;
}

.back-secondary {
    background-color: $secondary !important;
}

.cl-purple {
    color: $purple!important;
}

.back-purple {
    background-color: $purple!important;
}

.cl-white {
    color: #ffffff !important;
}

.back-white {
    background-color: #ffffff !important;
}

.font-primary {
    font-family: $font-1 !important;
}

.font-secondary {
    font-family: $font-2 !important;
}
