/*
 ** Colors
 */

$primary: #878888;
$secondary: #013155;
$green: #10cf6c;
$background: #f4f4f4;
$purple: #27294f ;

/*
 ** Fonts
 */

$font-1: 'Lato', sans-serif;
$font-2: 'Museo';

@font-face {
    font-family: 'Museo';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/Museo/Museo300-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Museo';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/Museo/Museo500-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Museo';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/Museo/Museo700-Regular.otf) format('opentype');
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(/assets/fonts/Lato/Lato-Regular.ttf) format('woff2');
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(/assets/fonts/Lato/Lato-Bold.ttf) format('woff2');
}

/*
 ** Responsive
 */
$small-screen: 600px !default;
$medium-screen: 960px !default;
$large-screen: 1280px !default;

$medium-and-up: 'only screen and (min-width : #{$small-screen})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen})' !default;
$xlarge-and-up: 'only screen and (min-width : #{$large-screen})' !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$large-and-down: 'only screen and (max-width : #{$large-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen}) and (max-width : #{$medium-screen})' !default;
$medium-and-large: 'only screen and (min-width : #{$small-screen}) and (max-width : #{$large-screen})' !default;
$large-only: 'only screen and (min-width : #{$medium-screen}) and (max-width : #{$large-screen})' !default;



/*
 ** Sizes
 */

$header-height: 80px;
$footer-height: 203px;
