<div class="container">
  <h1>Terms and Conditions</h1>

  <h2>Access and site usage</h2>
  <p>Access to certain Services offered on the Site may be subject to payment. Access to paid services is restricted to adults. In the event that the User of the paid services is a minor physical person, he declares and acknowledges that he has obtained the authorization to become a User from the holder (s) parental authority concerning him, and that the holder (s) of the parental authority has (have) accepted to be guarantor (s) of the respect by the User of all the provisions of the General Conditions of Use and, if the where applicable, specific conditions relating to the Paying Services. Any use of the paid services by a minor is made under the full responsibility of the holders of parental authority over the persons concerned.</p>

  <h2>Paid Services</h2>
  <p>The price inclusive of the paid Services, or its method of calculation if the price can not be determined in advance, is posted on the Site before any access to the paid Services by the User.</p>
  <p>Access to the paid services supposes that the User holds a valid credit card of the type Carte Bleue, Visa or MasterCard.</p>
  <p>The User may benefit from a 15-day discovery offer when registering for the Pay Services. At the end of this discovery offer, the User is committed for a period of 2 months renewable by tacit agreement, unless canceled by him within the first 15 days of his registration via the rubric « MANAGE MY SUBSCRIPTION » of the site www.instructionsfinder.co.uk.</p>
  <p>Unless canceled by the User, the subscription will be tacitly renewed for successive periods of 2 months.</p>
  <p>IN ANY CASE, ONCE THE USER CLICKS ON THE CONFIRMATION BUTTON OF THE ORDER REQUIRING PAYMENT, THE CONNECTION IS INSTANT AND THE USER MAY IMMEDIATELY AND / OR FOR A SPECIFIC PERIOD USE THE PAYABLE SERVICES . CONSEQUENTLY, IN APPLICATION OF ARTICLE L. 221-28 OF THE CONSUMER CODE, THE USER EXPRESSLY GIVES HIS AGREEMENT TO THE PROVISION OF PAYABLE SERVICES AND EXPRESSLY RENEWS, BY ACCEPTANCE OF THE PRESENT, HIS RIGHT OF WITHDRAWAL AND THIS PENDANT ALL THE DURATION OF PROVISION OF SERVICES.</p>

  <h2>Corporate name:</h2>
  <p>MULLION MARKETING Ltd</p>

  <h2>Headquarters:</h2>
  <p>130 Old Street <br>
    London, EC1V 9BD <br>
    England</p>

  <h2>Company Registration Number:</h2>
  <p>11656924</p>

  <h2>To contact us :</h2>
  <p><a href="mailto:contact@instructionsfinder.co.uk">contact@instructionsfinder.co.uk</a></p>
</div>
