<div class="svc-select-plan">

    <div class="svc-select-plan-searched container">

        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column">
            <div class="car-searched" fxLayout fxLayoutAlign="start center" fxLayoutGap="36px" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
                <div>
                    <div class="fs-20 cl-secondary mb-12"><strong>{{carData.make}} </strong>{{carData.model}}</div>
                    <div class="fs-20 text-center">
                        <span class="mr-36">
                            Color: <strong>{{carData.colour}}</strong>
                        </span>
                        <span>
                            Year: {{carData.year}}
                        </span>
                    </div>
                </div>
                <div>
                    <img width="200" src="assets/images/car-example.png" alt="">
                </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="start end" [ngClass.lt-md]="{'mt-20': true}">

                <div fxLayout="row" class="car-search-again" fxShow fxHide.lt-md>
                    <div class="car-search-again-country px-6" fxLayout="column" fxLayoutAlign="center center">

                        <div class="mb-6">
                        <img src="assets/images/flag_uk.png" alt="">
                        </div>

                        <div class="fs-14">UK</div>
                    </div>

                    <div class="car-search-again-key" fxLayout fxLayoutAlign="center center">
                        <span>{{carData.vrm}}</span>
                    </div>
                </div>

                <div>
                    Not the right vehicle? <a href="/" class="cl-secondary">Search Again ></a>
                </div>
            </div>
        </div>
    </div>

    <div class="back-white">
        <div class="container pt-24">
            <h2 [ngClass.lt-md]="{'text-center': true}">Get a reliable report instantly</h2>
            <div fxLayout fxLayoutAlign="space-between center" fxLayoutGap="24px" fxLayout.lt-md="column">
                <div class="svc-select-plan-plans" fxFlex="66" fxFlex.lt-md="false" [ngClass.lt-md]="{'width-100': true}">
                    <div class="p-24">
                        <div class="text-center fs-20 mb-20">Protect yourself with a <strong class="cl-secondary">£30,000</strong> Guarantvee</div>
                        <div fxLayout fxLayoutGap="24px" fxLayout.lt-md="column">
                            <app-plan fxFlex [checkType]="'multicheck'" (selected)="selectPlan($event)"></app-plan>
                            <app-plan fxFlex [checkType]="'SVCheck'" [mostPopular]="true" (selected)="selectPlan($event)"></app-plan>
                        </div>
                    </div>
                </div>
                <div fxFlex fxFlex.lt-md="false" class="svc-select-plan-basic pt-24" [ngClass.lt-md]="{'width-100': true}">
                    <app-plan [checkType]="'basicCheck'" (selected)="selectPlan($event)"></app-plan>
                </div>
            </div>

            <div class="py-40">
                <app-plan-features></app-plan-features>
            </div>
        </div>
    </div>
</div>
