<div class="svc-select-plan">

    <div class="svc-select-plan-searched container">

        <div class="flex-row space-between-center">
            <div class="car-searched flex-row start-center">
                <div class="mr-36">
                    <div class="fs-20 cl-secondary mb-12"><strong>{{carData.make}} </strong>{{carData.model}}</div>
                    <div class="fs-20 text-center">
                        <span class="mr-36">
                            Color: <strong>{{carData.colour}}</strong>
                        </span>
                        <span>
                            Year: {{carData.year}}
                        </span>
                    </div>
                </div>
                <div>
                    <img width="200" src="assets/images/car-example.png" alt="">
                </div>
            </div>

            <div class="flex-column start-end mt-20">

                <div class="car-search-again flex-row">
                    <div class="car-search-again-country px-6 flex-column center-center">

                        <div class="mb-6">
                        <img src="assets/images/flag_uk.png" alt="">
                        </div>

                        <div class="fs-14">UK</div>
                    </div>

                    <div class="car-search-again-key flex-row center-center">
                        <span>{{carData.vrm}}</span>
                    </div>
                </div>

                <div>
                    Not the right vehicle? <a href="/" class="cl-secondary">Search Again ></a>
                </div>
            </div>
        </div>
    </div>

    <div class="back-white">
        <div class="container pt-24 svc-report-plan">
            <h2>Get a reliable report instantly</h2>
            <div class="flex-row space-between-center plans-container">
                <div class="svc-select-plan-plans">
                    <div class="p-24">
                        <div class="text-center fs-20 mb-20">Protect yourself with a <strong class="cl-secondary">£30,000</strong> Guarantvee</div>
                        <div class="svc-select-plan-multi flex-row">
                            <app-plan [checkType]="'Multicheck'" (selected)="selectPlan($event)"></app-plan>
                            <app-plan [checkType]="'SV Check'" [mostPopular]="true" (selected)="selectPlan($event)"></app-plan>
                        </div>
                    </div>
                </div>
                <div class="svc-select-plan-basic pt-24">
                    <app-plan [checkType]="'Basic Check'" (selected)="selectPlan($event)"></app-plan>
                </div>
            </div>

            <div class="py-40">
                <app-plan-features></app-plan-features>
            </div>
        </div>
    </div>
</div>
