.svc-plans-features {
    .table-row {
        padding: 16px;
        color: #555;
        &:nth-child(even) {
            background: #ececec;
        }
    }
    .feature-supported {
        color: green;
    }
    .feature-unsupported {
        color: red;
    }
}
