<div class="svc-plans-features">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Multicheck</th>
        <th>SV Check</th>
        <th>Basic Check</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of features; let i=index;" class="table-row">
        <td class="flex-row start-center">
          <div class="col-title">
            <img width="23" [src]="item.icon" alt="">
            <span class="text-left">{{item.name}}</span>
          </div>
          <fa-icon class="cl-secondary" [icon]="['fas', 'plus']"></fa-icon>
        </td>
        <td>
          <fa-icon class="feature-supported" [icon]="['fas', 'check']"></fa-icon>
        </td>
        <td>
          <fa-icon class="feature-supported" [icon]="['fas', 'check']"></fa-icon>
        </td>
        <td>
          <fa-icon *ngIf="isSupported(i)" class="feature-supported" [icon]="['fas', 'check']"></fa-icon>
          <fa-icon *ngIf="!isSupported(i)" class="feature-unsupported" [icon]="['fas', 'times']"></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
