<div class="svc-plans-features">
  <div class="svc-plan-titles text-center fs-20 py-16" fxLayout>
    <div fxFlex="34" fxFlex.lt-md="20"></div>
    <div fxFlex>
      <div fxFlex>Multicheck</div>
      <div fxFlex>SV Check</div>
      <div fxFlex>Basic Check</div>
    </div>
  </div>
  <div>
    <div *ngFor="let item of features; let i=index;" fxLayout class="table-row">
      <div fxFlex="34" fxFlex.lt-md="20" fxLayout fxLayoutAlign="start center" class="pr-40">
        <div fxFlex="75" fxLayout fxLayoutAlign="start center" fxLayoutGap="20px">
          <img width="23" [src]="item.icon" alt="" fxShow fxHide.lt-md>
          <span class="text-left">{{item.name}}</span>
        </div>
        <fa-icon class="cl-secondary" [icon]="['fas', 'plus']" fxShow fxHide.lt-md></fa-icon>
      </div>
      <div fxFlex>
        <div fxFlex fxLayout fxLayoutAlign="center center">
          <fa-icon class="feature-supported" [icon]="['fas', 'check']"></fa-icon>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="center center">
          <fa-icon class="feature-supported" [icon]="['fas', 'check']"></fa-icon>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="center center">
          <fa-icon *ngIf="isSupported(i)" class="feature-supported" [icon]="['fas', 'check']"></fa-icon>
          <fa-icon *ngIf="!isSupported(i)" class="feature-unsupported" [icon]="['fas', 'times']"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>