.svc-home {

    .svc-home-body {

        position: relative;

        .svc-home-center {
            position: absolute;
            width: 100%;
            top: -180px;
        }
    
        .svc-home-about {
            background: #ffffff;
            padding: 15% 20%;
        }

    }
    
}