@import '../../../../styles/_variables';

.svc-home {

  .svc-home-body {}

  .svc-home-center {
    background-image: linear-gradient(to bottom, #f4f4f4 49.5%, #ffffff 50%, #ffffff);
  }

  .svc-home-about {
    background: #ffffff;
    max-width: 850px;
    margin: 0 auto;
    padding: 150px 0 120px;

    @media #{$medium-and-down} {
      padding: 40px 15px;
    }
  }

  .svc-home-reviews {

  }
    
}
