<div fxLayout="row"
     fxLayoutAlign="space-between"
     class="container"
*ngIf="showTabs">
  <a [routerLink]="['vdi-check']"
     routerLinkActive="tabs-button-active"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="tabs-button">
    <fa-icon class="feature-supported" [icon]="['fas', 'dollar-sign']"></fa-icon>
    <span class="tab-text">Vdi Check</span>
  </a>
  <a [routerLink]="['battery']"
     routerLinkActive="tabs-button-active"
     [routerLinkActiveOptions]="{exact: true}"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="tabs-button">
    <fa-icon class="feature-supported" [icon]="['fas', 'car']"></fa-icon>
    <span class="tab-text">BatteryData</span>
  </a>
  <a [routerLink]="['mot-history']"
     routerLinkActive="tabs-button-active"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="tabs-button">
    <fa-icon class="feature-supported" [icon]="['fas', 'exclamation-triangle']"></fa-icon>
    <span class="tab-text">Mot History</span>
  </a>
  <a [routerLink]="['tyres']"
     routerLinkActive="tabs-button-active"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="tabs-button">
    <fa-icon class="feature-supported" [icon]="['fas', 'clipboard-check']"></fa-icon>
    <span class="tab-text">Tyres</span>
  </a>
  <a [routerLink]="['can-price']"
     routerLinkActive="tabs-button-active"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="tabs-button">
    <fa-icon class="feature-supported" [icon]="['fas', 'clipboard-list']"></fa-icon>
    <span class="tab-text">Can-price</span>
  </a>
  <a [routerLink]="['valuation']"
     routerLinkActive="tabs-button-active"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="tabs-button">
    <fa-icon class="feature-supported" [icon]="['fas', 'gas-pump']"></fa-icon>
    <span class="tab-text">Valuation</span>
  </a>
  <a [routerLink]="['vehicle-mot-history']"
     routerLinkActive="tabs-button-active"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="tabs-button">
    <fa-icon class="feature-supported" [icon]="['fas', 'wrench']"></fa-icon>
    <span class="tab-text">Vehicle Mot History</span>
  </a>
  <a [routerLink]="['vehicle']"
     routerLinkActive="tabs-button-active"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="tabs-button">
    <fa-icon class="feature-supported" [icon]="['fas', 'tachometer-alt']"></fa-icon>
    <span class="tab-text">Vehicle</span>
  </a>
  <a [routerLink]="['vehicle-tax']"
     routerLinkActive="tabs-button-active"
     fxLayout="row"
     fxLayoutAlign="center center"
     class="tabs-button">
    <fa-icon class="feature-supported" [icon]="['fas', 'dollar-sign']"></fa-icon>
    <span class="tab-text">Vehicle Tax</span>
  </a>
</div>
<div class="tabs-content">
  <router-outlet></router-outlet>
</div>
