<div class="container">
  <div class="svc-payment-details-description">
    <div class="fs-36 font-secondary cl-purple">Payment Details</div>
    <div class="mt-24">
      <p class="fw-300">You're one step away from getvting your check</p>
      <ul>
        <li>- It's one off payment and there are no further commitments</li>
        <li>- Our online payment gateway is super secure</li>
        <li>- You'll get instant access to the report and support from our team</li>
      </ul>
    </div>
  </div>
</div>