<div fxFlex>
  <div class="cl-purple fs-22 font-secondary py-36">Pay using card</div>

  <form [formGroup]="paymentForm" (ngSubmit)="onPaymentSubmit()">

    <div fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div fxFlex="48">
        <label class="cl-secondary">Your name</label>
        <input name="name" type="text" formControlName="name" placeholder="Name" [ngClass]="{'input-invalid': submitted && name.errors?.required}">
      </div>

      <div fxFlex="48">
        <!--*ngIf="!auth.loggedIn"-->
        <label class="cl-secondary">We will send a link to the report to:</label>
        <input name="creditCard" type="email" formControlName="email" placeholder="Email" [ngClass]="{'input-invalid': submitted && email.errors?.required}">
      </div>

      <div fxFlex="48">
        <label class="cl-secondary">Card or debit card</label>
        <input name="creditCard" type="number" formControlName="creditCard" placeholder="Card" [ngClass]="{'input-invalid': submitted && creditCard.errors?.required}">
      </div>

      <div fxFlex="48"
           fxLayout="row wrap"
           fxLayoutAlign="space-between"
           class="card-data">
        <label class="cl-secondary" fxFlex="100">Date and CVV code</label>
        <input name="creditCard"
               type="date"
               formControlName="date"
               placeholder="Date"
               [ngClass]="{'input-invalid': submitted && creditCard.errors?.required}" />
        <input name="creditCard"
               type="number"
               formControlName="cvc"
               placeholder="CVV"
               [ngClass]="{'input-invalid': submitted && creditCard.errors?.required}" />
      </div>

    </div>

    <div class="my-24 fs-18 cl-secondary">+ (Optional) Have a referral code?</div>

    <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
      <input id="receiveInfo" type="checkbox" formControlName="receiveInfo">
      <label for="receiveInfo">Tick the box if you want to receive discounts, offers, news and important motoring information</label>
    </div>

    <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
      <input id="agreePolicies" type="checkbox" formControlName="agreePolicies">
      <label for="agreePolicies">I agree to the <strong class="cl-secondary fs-16 fw-700">Terms & Conditions, Cookie, Privacy</strong> policies</label>
    </div>

    <div class="form-border"></div>

    <div fxLayout fxLayoutAlign="space-between center">
      <div class="price">£ {{ price }}</div>
      <button type="submit">
        <span class="mr-16">Pay Now</span>
        <fa-icon class="icon"
                 [icon]="['fas', 'angle-right']"></fa-icon>
      </button>
    </div>
  </form>

</div>
