<div fxFlex>
  <div class="cl-purple fs-22 font-secondary py-36">Pay using card</div>

  <form [formGroup]="paymentForm" (ngSubmit)="onPaymentSubmit()">

    <div fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div fxFlex="49">
        <input name="name" type="text" formControlName="name" placeholder="Name" [ngClass]="{'input-invalid': submitted && name.errors?.required}">
      </div>
      <div fxFlex="49">
        <!--*ngIf="!auth.loggedIn"-->
        <input name="phone" type="text" formControlName="phone" placeholder="Phone" [ngClass]="{'input-invalid': submitted && phone.errors?.required}">
      </div>

      <div fxFlex="49">
        <label class="cl-secondary">Card or debit card</label>
        <input name="creditCard" type="number" formControlName="creditCard" placeholder="Card" [ngClass]="{'input-invalid': submitted && creditCard.errors?.required}">
      </div>

      <div fxFlex="49">
        <!--*ngIf="!auth.loggedIn"-->
        <label class="cl-secondary">We will send a link to the report to:</label>
        <input name="email" type="email" formControlName="email" placeholder="Email" [ngClass]="{'input-invalid': submitted && email.errors?.required}">
      </div>
    </div>

    <div class="my-24 fs-18 cl-secondary">+ (Optional) Have a referral code?</div>

    <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
      <input id="receiveInfo" type="checkbox" formControlName="receiveInfo">
      <label for="receiveInfo">Tick the box if you want to receive discounts, offers, news and important motoring information</label>
    </div>

    <div fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
      <input id="agreePolicies" type="checkbox" formControlName="agreePolicies">
      <label for="agreePolicies">I agree to the <strong class="cl-secondary fs-16 fw-700">Terms & Conditions, Cookie, Privacy</strong> policies</label>
    </div>

    <div class="form-border"></div>

    <div fxLayout fxLayoutAlign="space-between center">
      <div>{{ price }}</div>
      <button type="submit" fxLayout fxLayoutAlign="start center">
        <span class="mr-16 fs-16">Pay Now</span>
        <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
      </button>
    </div>
  </form>

</div>
