@import "../../../../styles/variables";

button {
    border-radius: 3px;
    color: #ffffff;
    background: #10cf6c;
    border: none;
    cursor: pointer;
    font-family: $museo;
    font-size: 15px;
    height: 44px;
    text-align: center;
    padding: 12px 0;
    width: 122px;

    &:focus {
        outline: none !important;
    }

  .icon {
    display: inline-block;
    vertical-align: middle;
  }
}

input[type='text'], input[type='email'], input[type='number'], input[type='date'] {
    border: none;
    margin: 16px 0;
    background: #ececec;
  height: 45px;
    width: 100%;
    font-size: 18px;
    padding: 8px;
    border-radius: 2px;
    display: block;

    &:focus {
        outline: none;
    }
}

.card-data {
  input {
    width: 48%;
  }
}

.input-invalid {
    border: 1px solid #ff8e8c !important;
}

.form-border {
    padding: 14px;
    border-bottom: 2px solid #ececec;
    margin-bottom: 24px;
}

.price {
  font-size: 25px;
  font-family: $lato;
}
