<footer class="svc-footer">

  <div class="container">

    <div class="svc-footer-content">

        <div>
            <div class="svc-logo mb-16">
                <span>StolenVehicle</span>
                <span>Check</span>
            </div>
            
            <div>
                <img src="assets/images/mastercard.png">
            </div>
        </div>

        <div class="svc-footer-content-trade">
            <div class="text-right mb-16">
                © 2018  All rights reserved  Stolen Vehicle Check 
            </div>

            <div class="text-right">
                Terms and conditions
            </div>
        </div>

    </div>

  </div>

</footer>