<div class="svc-set-password flex-row center-center">
  <form [formGroup]="form" (ngSubmit)="setPassword()">
    <h1>Set your password.</h1>
    <div class="mb-36">
      <input formControlName="password" type="password" placeholder="Password" [ngClass]="{'input-invalid': submitted && password.errors}">
    </div>

    <div class="mb-36">
      <input formControlName="confirmPassword" type="password" placeholder="Confirm your password" [ngClass]="{'input-invalid': submitted && confirmPassword.errors}">
    </div>

    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
