<div class="payment-tabs-container">
  <div class="payment-tabs-bar container flex-row">
    <a class="pt-8 pl-8 pr-8" [ngClass]="{'back-white': paymentMethod == 'card'}" (click)="paymentMethod = 'card'">
      <img height="40" src="assets/images/pay-by-card.png" alt="">
    </a>
    <a class="pt-8 pl-8 pr-8" [ngClass]="{'back-white': paymentMethod == 'paypal'}" (click)="paymentMethod = 'paypal'">
      <img height="30" src="assets/images/pay-by-paypal.png" alt="">
    </a>
  </div>
  <div class="payment-tab-content back-white">
    <div class="container flex-row space-between-stretch">
      <div>
        <ng-container *ngIf="paymentMethod == 'card'">
          <app-payment-card [plan]="plan"></app-payment-card>
        </ng-container>
        <ng-container *ngIf="paymentMethod == 'paypal'">
          <app-payment-paypal [plan]="plan"></app-payment-paypal>
        </ng-container>
      </div>

      <div>
        <app-summary [plan]="plan"></app-summary>
      </div>
    </div>
  </div>
</div>
