<div class="svc-home-header text-center">

  <div class="svc-home-header-top">
    <h1 class="cl-purple fs-42">Check free if a vehicle is stolen,</h1>

    <div class="cl-purple fs-42 my-36 font-secondary">
      <span>written off or has outstanding</span><strong> finance.</strong>
    </div>
  </div>

  <div class="svc-home-search flex-row center-center">

    <form (ngSubmit)="search()">

      <div class="svc-home-search-country px-6 flex-column center-center">

        <div class="mb-6">
          <img src="assets/images/flag_uk.png" alt="">
        </div>

        <div class="fs-14">UK</div>
      </div>

      <div class="svc-home-search-key">
        <input type="text" [(ngModel)]="svcReg" name="search" placeholder="ENTER REG">
      </div>

      <button class="svc-home-search-btn" type="submit">GO <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon></button>

    </form>
  </div>
</div>
