@import '../../../../styles/variables';

.svc-home-header {
  background: url("/assets/images/input-cars-grey-bg.jpg") center bottom 82px no-repeat #f4f4f4;
  background-size: 993px auto;
  padding: 120px 0 365px;

  &.reg-inp-footer {
    background: #fff;
    padding: 120px 200px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("/assets/images/input-cars-grey-bg--x2.jpg");
    background-size: 993px auto;
  }

    @media #{$medium-and-down} {

        padding: 70px 30px;

        .svc-home-header-top {
            display: none;
        }

        .svc-home-search {

            &-country div {
                margin: 0 !important;
            }

            &-key input {
                width: 100% !important;
            }

            &-btn {
                font-size: 16px;
                width: 77px;
            }

            ::placeholder {
                font-size: 20px !important;
            }
        }

        form {
            height: 50px !important;
        }
    }

    .svc-home-search {

        form {
            display: flex;
            height: 80px;
        }

        &-country {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            height: 100%;
            background: #3163b0;
            color: #ffffff;
            img {
                width: 20px;
            }
        }

        &-btn {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            height: 100%;
            color: #ffffff;
            background: #10cf6c;
            border: none;
            cursor: pointer;
            width: 120px;
            font-size: 24px;
            font-family: $font-2;
            &:focus {
                outline: none !important;
            }
        }

        &-key {
            height: 100%;
            font-family: $font-2;
            input {
                height: 100%;
                border: none;
                margin: 0;
                padding: 0 24px;
                background: #f1c957;
                width: 380px;
                font-size: 24px;

                &:focus {
                    outline: none;
                }
            }

            ::placeholder {
                color: #384045;
                font-size: 30px;
                font-weight: 900;
                font-family: $font-2;
            }
        }
    }
}
